<div class="homepage-container" fxFlex fxLayout="row" style="height: 100vh">
  <div
    class="homepage-division"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <span class="homepage-slogan">It would be very pleasing for me to work at Filed.com</span>
    <span class="homepage-slogan">I prepared the work I could for you</span>
    <span class="homepage-slogan">I can't wait for your return</span>
    <span class="homepage-slogan-button" [routerLink]="['/payment']">If you are ready, let's take a look at the case!</span>
  </div>
</div>
